<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{#insert title}Le Quarkus{/insert}</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900 font-sans">
    <div class="max-w-6xl mx-auto p-6">
        <header class="flex items-center justify-between mb-6">
            <h1 class="text-2xl font-bold">Le Quarkus</h1>
            <div>
                {#if username}
                    <span class="mr-6">Welcome, {username}</span>
                    <a href="/logout" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Logout</a>
                {#else}
                    <a href="/login" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Login</a>
                    <a href="/register" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Register</a>
                {/if}
            </div>
        </header>

        {#insert body}{/insert}

        <footer class="mt-6 text-sm text-gray-500 bg-white p-4 rounded-lg">
          © 2025 Le Quarkus
        </footer>
    </div>
</body>

</html>
